.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 8px;
  margin: 15px;
  width: 500px;
  height: 300px;
  padding: 15px;
}

.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  margin-left: 0px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  margin-bottom: 32px;
  margin-top: 24px;
}

.avatar {
  margin-left: 250px;
}
